<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>

    <main>

        <% if (locals.appleCollection) { %>
            <% locals.appleCollection.forEach(element => { %>
                <%= element.apple %> 
                <% }) %>                 
        <% } %>        


        <form action="/apples" method="post">

            <input type="text" name="apple" id="apple" placeholder="Lägg till äpple">
            <input type="submit" value="Spara">

        </form>


    </main>

    <%- include('partials/footer.ejs') %>

</body>

</html>